<ion-header>

  <ion-navbar>
    <ion-title>テンプレート駆動フォーム</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h1>社員登録</h1>
    <div> {{ model | json }} </div>
    <form>
      <ion-item>
        <ion-label floating>名前</ion-label>
        <ion-input type="text" id="name" name="name" required minlength="4" [(ngModel)]="model.name" #name="ngModel"></ion-input>
      </ion-item>
      <ion-item *ngIf="name.errors && (name.dirty || name.touched)">
        <span ion-text color="danger" [hidden]="!name.errors.required">必須項目です</span>
        <span ion-text color="danger" [hidden]="!name.errors.minlength">4文字以上入力してください</span>
      </ion-item>
      <ion-item>
        <ion-label>部署</ion-label>
        <ion-select id="department" name="department" required [(ngModel)]="model.department" #department="ngModel">
          <ion-option value=""></ion-option>
          <ion-option *ngFor="let department of departments;" [value]="department">{{department}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="department.errors && (department.dirty || department.touched)">
        <span ion-text color="danger" [hidden]="!department.errors.required">必須項目です</span>
      </ion-item>
      <ion-item>
        <ion-label floating>電話番号</ion-label>
        <ion-input type="text" id="phone" name="phone" required [(ngModel)]="model.phone" #phone="ngModel"></ion-input>
      </ion-item>
      <ion-item *ngIf="phone.errors && (phone.dirty || phone.touched)">
        <span ion-text color="danger" [hidden]="!phone.errors.required">必須項目です</span>
      </ion-item>
      <ion-item>
        <ion-label floating>メールアドレス</ion-label>
        <ion-input type="text" id="email" name="email" [(ngModel)]="model.email"></ion-input>
      </ion-item>
      <button ion-button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</ion-content>
