<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ionic Laboratory</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>
      Template Driven Forms
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>
        <ion-list>
          <ion-list-header>
            社員登録
          </ion-list-header>
          <form (ngSubmit)="onSubmit(); employeeForm.reset()" #employeeForm="ngForm">
            <ion-item>
              <ion-label stacked>名前</ion-label>
              <ion-input type="text" id="name" name="name" required minlength="4" [(ngModel)]="model.name" #name="ngModel"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label stacked>部署</ion-label>
              <ion-select id="department" name="department" required [(ngModel)]="model.department" #department="ngModel">
                <ion-option value=""></ion-option>
                <ion-option *ngFor="let department of departments;" [value]="department">{{department}}</ion-option>
              </ion-select>
            </ion-item>
      
            <ion-item>
              <ion-label stacked>電話番号</ion-label>
              <ion-input type="text" id="phone" name="phone" required [(ngModel)]="model.phone" #phone="ngModel"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label stacked>メールアドレス</ion-label>
              <ion-input type="text" id="email" name="email" [(ngModel)]="model.email"></ion-input>
            </ion-item>
            <div class="submit-button-area">
              <div *ngIf="name.errors && (name.dirty || name.touched)">
                <span ion-text color="danger" [hidden]="!name.errors.required">「名前」は必須項目です</span>
                <span ion-text color="danger" [hidden]="!name.errors.minlength">「名前」は4文字以上入力してください</span>
              </div>
              <div *ngIf="department.errors && (department.dirty || department.touched)">
                <span ion-text color="danger" [hidden]="!department.errors.required">「部署」は必須項目です</span>
              </div>
              <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <span ion-text color="danger" [hidden]="!phone.errors.required">「電話番号」は必須項目です</span>
              </div>
              <button ion-button type="submit" round outline [disabled]="!employeeForm.form.valid">Submit</button>
            </div>
          </form>
        </ion-list>
        <div class="loading-spinner-area" *ngIf="showLoading$ | async">
          <ion-spinner name="dots"></ion-spinner>
        </div>  
      </ion-col>
    </ion-row>
</ion-content>
